.profile_con1 {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.profile_con1::after {
  content: "";
  display: block;
  clear: both;
}

.profile_info {
  float: left;
  width: 60%;
}

.profile_info::after {
  content: "";
  clear: both;
  display: both;
}

.profile_open {
  float: right;
  width: 40%;
}

.profile_title {
  color: #3199DC;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.profile_photo {
  width: 150px;
  height: 180px;
  border: 1px solid #000;
  float: left;
}

.profile_sub_info {
  position: relative;
  width: auto;
  height: 180px;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 100px;
  font-size: 18px;
}

.profile_sub_info span {
  position: absolute;
  left: 0;
  font-weight: bold;
}

.profile_sub_info button {
  margin-left: -100px;
}

.profile_btn {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 7px 18px;
  background-color: #3199DC;
  border-radius: 20px;
  border: none;
}

.profile_con2{
  margin-top: 70px;
}

.profile_title button{
  float: right;
}

.profile_basic_info li{
  font-size: 17px;
  height: 45px;
  line-height: 45px;
  position: relative;
  padding-left: 450px;
  color: #616161;
}

.profile_basic_info li .info_title{
  position: absolute;
  left: 300px;
  font-weight: bold;
  color: #000;
}

.profile_basic_info li:nth-child(2n-1){
  background-color: #f4f4f4;
}

.profile_con3 {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.profile_con3::after{
  clear: both;
  content: "";
  display: block;
}

.profile_contact{
  width: 55%;
  float: left;
}

.profile_account{
  position: relative;
  width: 45%;
  float: right;
}

.profile_contact{
  position: relative;
  height: 270px;
}

.profile_contact li{
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.profile_contact li span{
  position:absolute;
  left: 0px;
  font-weight: bold;
}

.profile_account li{
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.profile_account li span{
  position:absolute;
  left: 0px;
  font-weight: bold;
}


