#main_notification {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

#main_notification::-webkit-scrollbar {
  width: 18px;
}

#main_notification::-webkit-scrollbar-track {
  background-color: #E1E1E1;
  border-radius: 10px;
}

#main_notification::-webkit-scrollbar-thumb {
  background-color: #3096D7;
  border-radius: 10px;
}

.notifi_el {
  width: 350px;
  height: 470px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgb(113, 113, 113);
  border-radius: 10px;
  margin-bottom: 50px;
}

.notifi_photo {
  width: 104px;
  height: 104px;
  margin: 0 auto;
  margin-top: 33px;
  border: 3px solid #EAEAEA;
  border-radius: 100%;
}

.notifi_name {
  text-align: center;
  margin-top: 38px;
  font-size: 19px;
  font-weight: bold;
}

.notifi_term {
  color: #939393;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
}

.notifi_person #person {
  color: #939393;
  margin-left: 30px;
}

.notifi_person {
  color: #000;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.notifi_field {
  color: #000;
  width: 80%;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
}

.notifi_field span {
  display: block;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 15px;
}

.notifi_field_el {
  display: flex;
  flex-wrap: wrap;
}

.field_el {
  background-color: #3199DC;
  color: #fff;
  padding: 8px 20px;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.notifi_href{
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
}

.notifi_href a{
  color: #3199DC;
}
